/* Deutsche Telekom AG Fonts */
@font-face {
  font-family: 'TeleGrotesk Next';
  src:
    url('https://github.com/xershoxx/TelekomFonts/tree/master/Webfonts/telegrotesknext-regular.woff2') format('woff2'),
  font-weight: normal;
  font-style: normal;
}
