/* Deutsche Telekom AG Fonts */
@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('https://<yourserver>/path/to/SAP-icons.woff2') format('woff2'),
  font-weight: normal;
  font-style: normal;
}
